---
import 'bootstrap/dist/css/bootstrap.css'
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import CardService from '../../components/CardService.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>
		<Header />
		<main>
			<section>
				<li>
					<div class="titulo">
						<img width={1000} height={360} src="/serv/servicios (1).png" alt="" />
						<h4 class="title text-center">
							Proyectos Ejecutados Por PRESTASERVIS RL
						</h4>
						<p class="date">
							
						</p></div>
						
						<div class="container">
							<div class="row">
							  <div class="col-md-6">
								<CardService
								date=""
								img="/SRC/proyectos (1).png"
								parraf="Mantenimiento de valvulas de seguridad de control, Punta de mata Edo. Monagas"
							
								title="Mantenimiento de válvulas de Seguridad y Válvulas de control"
							  />
							  </div>
							  <div class="col-md-6">
								<CardService
								date=""
								img="/SRC/proyectos (2).png"
								parraf="Empalmes y Certificación de fibra optica en  Sinovensa 2022"
								
								title="Empalmes y Certificación de fibra optica"
							  />
							  </div>
							  <div class="col-md-6">
								<CardService
								date=""
								img="/SRC/proyectos (3).png"
								parraf="Mantenimiento de Valvulas de Seguridad PSV Petrocedeño-RAFAY Abril 2023"
							
								title="Mantenimiento de Valvulas de Seguridad PSV"
							  />
							  </div>
							  <div class="col-md-6">
								<CardService
								date=""
								img="/SRC/proyectos (4).png"
								parraf="Mantenimiento de valvulas de tapon para la linea reguladora de gas para turbogenerador TITAN. 2021. Fabricacion de Tuberia para linea reguladora de gas para turbogenerador TITAN Refineria Puerto La Cruz. Sandblasting y pintura de tuberia para linea dreguladora de gas para turbo generador TITAN"
								
								title="Mantenimiento de válvulas, Fabricacion de tuberias, SandBlasting y pintura."
							  />
							  </div>
							 
							</div>
							
						  </div>
					
				</li>
			
		
			</section>
		</main>
		<Footer />
	</body>
	<style>
		.titulo{
			padding-bottom: 6%;
		}
	</style>
</html>
