---
import Layout from '../layouts/BlogPost.astro';
import 'bootstrap/dist/css/bootstrap.css'
import Contenido from '../components/Contenido.astro';
---

<Layout
	title="Acerca de Prestaservis RL"
	description="sisa"
	pubDate={new Date('Marzo 29 2024')}
	heroImage="/public/servicios (1).png"
>
<h2>
	¿Quienes Somos?
</h2>
	<p><br>
		<em>
			<strong>
				Somos una empresa nacional comprometida con la excelencia en la ejecución de proyectos de construcciones civiles, mecánicas, eléctricas e instrumentación. Desde nuestra fundación, nos hemos dedicado a brindar servicios de alta calidad respaldados por normas nacionales e internacionales.
			</strong>
		</em>
	</p>
	<h2>
		Misión
	</h2>
	<p>
		Nuestra misión en Prestaservis es prestar servicios a la industria en obras civiles, mecánicas, eléctricas e instrumentación, cumpliendo con nuestro principal objetivo: obtener la satisfacción de los clientes a través de la prestación de un servicio de calidad, confiabilidad y eficiencia.
	</p>
	<h2>
		Visión
	</h2>
	<p>
		Nos esforzamos por ser la empresa de construcciones más confiable para nuestros clientes, alcanzando siempre la máxima rentabilidad y basándonos en la calidad del servicio que ofrecemos. Buscamos ser reconocidos como una de las empresas principales del ramo y alcanzar el reconocimiento internacional como líderes en el izaje de equipo pesado.
	</p>
	<h2>
		Valores de la Empresa
	</h2>
	<br>
	<p>
		En Prestaservis, nos regimos por los siguientes valores fundamentales:
<br><br>
<strong >Excelencia:</strong> Nos esforzamos por alcanzar la excelencia en cada proyecto, cumpliendo con los más altos estándares de calidad y seguridad.
<br>
<strong>Integridad:</strong> Actuamos con integridad en todas nuestras operaciones, manteniendo la transparencia y la honestidad en todas nuestras relaciones comerciales.
<br>
<strong>Innovación:</strong> Buscamos constantemente nuevas formas de mejorar y optimizar nuestros servicios, adoptando tecnologías y prácticas innovadoras.
<br>
<strong>Compromiso:</strong> Estamos comprometidos con la satisfacción de nuestros clientes, cumpliendo con sus expectativas y superando sus necesidades.
	</p>

	

	<p class="text-center">
	<em><strong>Contamos con un equipo altamente capacitado en áreas clave como aseguramiento de la calidad, 
		seguridad industrial, producción en serie, servicios al cliente, planificación y control, y logística. 
		Nuestra experiencia nos permite abarcar todas las etapas de ejecución de proyectos,  
		desde la planificación hasta la entrega final.</strong>
		
	</em>
	</p>
	
</Layout>
<Contenido/>