---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import FormContact from "../components/FormContact";
import Carousel from "../components/Carousel.astro";
import "bootstrap/dist/css/bootstrap.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Aliadosc from "../components/aliadosc.astro";
import CardEM from "../components/CardEM.astro";
import Organ from "../components/Organ.astro";
import CardService from "../components/CardService.astro";
import Contenido2 from '../components/Contenido2.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <section>
      <Header />
      <Carousel />
    </section>

    <section id="Servicios">
      <h2 class="text-center">Servicios ofrecidos por la empresa</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <Card
          img="/serv/servicios (10).png"
          Data=""
          title="Tendido y Empalme de fibra optica"
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <Card
          img="/serv/servicios (12).png"
          Data=""
          title="Calibraciones de instrumentos y pruebas de lazo"
        />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <Card
          img="/serv/servicios (5).png"
          Data=""
          title="Servicio de mantenimientos de valvulas de control y seguridad"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <Card
          img="/serv/servicios (4).png"
          Data=""
          title="Mantenimiento de motores electricos y bombas sumergibles"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <Card
          img="/serv/servicios (11).png"
          Data=""
          title="Mantenimiento de transformadores y subestaciones electricas"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <Card
          img="/serv/servicios (6).png"
          Data=""
          title="Soldaduras Especiales y Trabajos de soldadura en tuberias"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <Card
          img="/serv/servicios (7).png"
          Data=""
          title="Construccion de obras civiles y mecanicas"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <Card
          img="/serv/servicios (9).png"
          Data=""
          title="Mantenimiento preventivo y correctivo de equipos"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <Card

          img="/serv/servicios (8).png"
          Data=""
          title="Proyectos, Diseño y realizacion de trabajos electricos en alta y baja tension"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <div class="container">
        <Card
          img="/serv/servicios (13).png"
          Data=""
          title="Calibracion y valvulas de seguridad"
        />
      </div>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
     
   
    </section>

    <section id="Projects">
      <h2 class="text-center">Proyectos realizados por la empresa</h2>

      <div class="container">
        <div class="row">
          <div class="col-md-6 mt-2">
            <CardService
            date=""
            img="/SRC/proyectos (1).png"
            parraf="Mantenimiento de valvulas de seguridad de control, Punta de mata Edo. Monagas"
            
            title="Mantenimiento de válvulas de Seguridad y Válvulas de control"
          />
          </div>
          <div class="col-md-6 mt-2">
            <CardService
            date=""
            img="/SRC/proyectos (2).png"
            parraf="Empalmes y Certificación de fibra optica en  Sinovensa 2022"
            
            title="Empalmes y Certificación de fibra optica"
          />
          </div>
          <div class="col-md-6 mt-2">
            <CardService
            date=""
            img="/SRC/proyectos (3).png"
            parraf="Mantenimiento de Valvulas de Seguridad PSV Petrocedeño-RAFAY Abril 2023"
          
            title="Mantenimiento de Valvulas de Seguridad PSV"
          />
          </div>
          <div class="col-md-6 mt-2">
            <CardService
            date=""
            img="/SRC/proyectos (4).png"
            parraf="Mantenimiento de valvulas de tapon para la linea reguladora de gas para turbogenerador TITAN. 2021. Fabricacion de Tuberia para linea reguladora de gas para turbogenerador TITAN Refineria Puerto La Cruz. Sandblasting y pintura de tuberia para linea dreguladora de gas para turbo generador TITAN"
          
            title="Mantenimiento de válvulas, Fabricacion de tuberias, SandBlasting y pintura."
          />
          </div>
         
        </div>
        
      </div>

      <a href="/blog" class="btn btn-primary botonInformation">Click aqui para mas información →</a>
    </section>

    <section id="organization">
      <h2 class="text-center">Equipos de La Empresa</h2>
      <div class="container">
        <div class="text-center">
          <p>Equipos de instrumentacion para la certificación de válvulas e instrumentos y pruebas de lazos con diferentes licencias en especial fudation fielbus</p>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/prueba de lazo (1).png" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/prueba de lazo (2).png" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/Imagen14.jpg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
          <p>Equipos para la certificacion y empalmes de fibra optica</p>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/fibra optica (1).png" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="Equipos" img="/SRC/fibra optica (2).png" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="Equipos" img="/SRC/fibra optica (3).png" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
          <p>Equipos para la certificación de Pruebas eléctricas</p>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/pruebas elect (1).png" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/pruebas elect (3).png" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/pruebas elect (2).png" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
          <p>Bancos de prueba para la certificación de valvulas de Seguridad y control hasta 24"</p>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/baco de prueba (1).jpg" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/baco de prueba (2).jpg" />
            </div>
          </div>
          <div class="col-sm">
            <div class="container">
              <CardEM title="" Data="equipos" img="/SRC/baco de prueba (3).jpg" />
            </div>
          </div>
        </div>
      </div>
      
      <Organ />
    </section>

    <br />
    <section id=" aliadoscomerciales">
      <Aliadosc />
    </section>  
    <Contenido2/>
    <main>
      <section id="contact">
        <FormContact client:load />
        <div class="container text-center">
          <a href="/contact" class=" btn btn-primary botonInformation">Click aqui para mas información →</a>
        </div>
      </section>
    </main>

    <Footer />
  </body>
  <style>
    
    #organization{
      padding-bottom: 3%;
      padding-top: 5%;
    }
    .container{
      padding-top: 4%;
      padding-bottom: 4%;
      align-items: center;
    }
    #Servicios{
      padding-top: 3%;
    }
    .btn-primary {
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      max-width: 20%;
    }
  
    @media (max-width: 412px) {
      .botonInformation{
     
      font-size: 12px !important;
      display: flex !important;
      flex-direction: row;
      border-radius: 25px;
      padding-inline: 80px !important;
     
    }
    }
  </style>
</html>
