---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import FormContact from "../components/FormContact";
import Carousel from "../components/Carousel.astro";
import "bootstrap/dist/css/bootstrap.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Aliadosc from "../components/aliadosc.astro";
import CardEM from "../components/CardEM.astro";
import Organ from "../components/Organ.astro";
import CardService from "../components/CardService.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <section>
      <Header />
      <Carousel />
    </section>

    <section id="Servicios">
      <h2 class="text-center">Servicios ofrecidos por la empresa</h2>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (10).png"
          parraf=""
          height={350}
          width={320}
          title="Tendido y Empalme de fibra optica"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (12).png"
          parraf=""
          height={350}
          width={320}
          title="Calibraciones de instrumentos y pruebas de lazo"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (5).png"
          parraf=""
          height={350}
          width={320}
          title="Servicio de mantenimientos de valvulas de control y seguridad"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (4).png"
          parraf=""
          height={350}
          width={320}
          title="Mantenimiento de motores electricos y bombas sumergibles"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (11).png"
          parraf=""
          height={350}
          width={320}
          title="Mantenimiento de transformadores y subestaciones electricas"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (6).png"
          parraf=""
          height={350}
          width={320}
          title="Soldaduras Especiales y Trabajos de soldadura en tuberias"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (7).png"
          parraf=""
          height={350}
          width={320}
          title="Construccion de obras civiles y mecanicas"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (9).png"
          parraf=""
          height={350}
          width={320}
          title="Mantenimiento preventivo y correctivo de equipos"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (8).png"
          parraf=""
          height={350}
          width={320}
          title="Proyectos, Diseño y realizacion de trabajos electricos en alta y baja tension"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <div class="container">
        <CardService
          date=""
          img="public/serv/servicios (13).png"
          parraf=""
          height={350}
          width={320}
          title="Calibracion y valvulas de seguridad"
        />
      </div>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>

     

     

      

      

      

      

      

      
      
      
      
    </section>

    <section id="Projects">
      <h2 class="text-center">Proyectos realizados por la empresa</h2>

      <div class="container">
        <CardService
          date=""
          img="https://picsum.photos/200"
          parraf=""
          height={350}
          width={320}
          title=""
        />
      </div>
    </section>

    <section id="organization">
      <h2 class="text-center">Equipos de La Empresa</h2>
      <div class="container">
        <CardEM title="" Data="sisas" img="https://picsum.photos/200" />
      </div>
    </section>

    <Organ />
    <br />
    <section id=" aliadoscomerciales">
      <Aliadosc />
    </section>

    <main>
      <section id="contact">
        <FormContact client:load />
      </section>
    </main>

    <Footer />
  </body>
</html>
