
<section>

    <div class="contenedor-principal">
        <div class="container">
            <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/microsoft.svg" alt="">
        </div>
        <div class="container">
            <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/google.svg" alt="">
        </div>
        <div class="container">
            <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/facebook.svg" alt="">
        </div>

        <div class="container">
            <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/logos/ibm.svg" alt="">
        </div>
</section>


<style>
    .contenedor-principal{
        height: 25dvh;
        background-color: #ffff;
        display: flex;
        flex-direction: row;
        flex-basis: content;
    }
    img{
        margin-right: 10px;
        height: 200px;
        width: 200px;
    }
</style>