---
import Slider from "./Slider"
---

<section>
  <h2 class="text-center">
    Referencias y Aliados Comerciales de Nuestra Organización
  </h2>
  <br />

  
  
   <div class="contenedor-principal">
   

    <Slider client:load/>
  </div>

  <style>
   
    section {
      padding-bottom: 15%;
    }
  </style>
</section>
