
<section>

    <h2 class="text-center">Referencias y Aliados Comerciales de Nuestra Organización</h2>
    <br>
    <div class="contenedor-principal">
        <div class="container">
            <img src="public/ALIADOS/INDUNORCA.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/ICM.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/GLOBAL.png" alt="">
        </div>

        <div class="container">
            <img src="public/ALIADOS/CETEL.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/INELECTRA.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/INSERVEN.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/METOR.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/MMO.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/RAFAY.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/ONEID.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/REC.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/SUPERMETAN.png" alt="">
        </div>
        <div class="container">
            <img src="public/ALIADOS/WISON.png" alt="">
        </div>
</section>


<style>
    .contenedor-principal{
        height: 25dvh;
        background-color: #ffff;
        display: flex;
        flex-direction: row;
        flex-basis: content;
    }
    img{
        margin-right: 10px;
        height: 200px;
        width: 200px;
    }
</style>