---
interface Props {
  img: string;
  title: string;
  parraf: string;
  date: string;
}

const { img, date, title, parraf } = Astro.props;
---

<div class="container card-container">
  <div class="contenedor-img">
    <img src={img} alt="Proyectos PrestaServis RL" />
  </div>

  <div class="card-content">
    <h4 class="title">{title}</h4>
    <div class="contenedor-parrafo">
      <p>{parraf}</p>
    </div>
  </div>
</div>

<style>
   .contenedor-parrafo {
        max-height: 0; /* Oculta el contenedor de párrafo por defecto */
        overflow: hidden; /* Oculta el contenido que sobresale */
        transition: max-height 0.3s ease; /* Animación de transición */
    }

    .card-container:hover .contenedor-parrafo {
        max-height: 1000px; /* Altura máxima del contenedor de párrafo al pasar el ratón */
    }
  .card-container {
    overflow: hidden; /* Para ocultar el contenido que sobresale */

    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
  }

  .card-container:hover {
    max-height: 1000px; /* Altura máxima al pasar el ratón sobre la tarjeta */
  } /* Altura máxima al pasar el ratón sobre la tarjeta */

  .contenedor-img {
    height: 300px;
    overflow: hidden;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  .card-content {
    padding: 20px;
    flex: 1;
  }

  .title {
    margin-top: 0;
  }

  .date {
    margin-bottom: 0;
    color: #666;
  }
</style>
