---
interface Props {
	title: string;
	Data: string;
    img: string;
	
}

const { Data, title, img } = Astro.props;
---

<div class="contenedor"> <!-- Corregido aquí -->
    <div class="container-img">
        <img src={img} alt=""/>
    </div>
    <div>
        <h4>{title}</h4>
        <p>{Data}</p>
    </div>
</div>

<style>
    .contenedor { /* Corregido aquí */
        width: 250px;
        height: 350px;
        margin: 0 auto;
        outline: 0.5px solid black;
        border-radius: 25px;
        padding: 15px;
        border-bottom-right-radius: 80px;
        margin-bottom: 10px;
        margin-top: 20px;
        transition: all 0.4s;
    }
    .contenedor:hover{
        transform: translateY(-10px);
    }
    .container-img {
        height: 80%;
        width: 100%;
        overflow: hidden;

    }
    p{
        text-align: center;
    }
    img:hover{
        border-radius: 25px;
        transform: scale(1.2);
    }
    img {
        transition: all 0.5s;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
</style>
