---
interface Props {
	title: string;
	Data: string;
    img: string;
	
}

const { Data, title, img } = Astro.props;
---

<div class="contenedor"> <!-- Corregido aquí -->
    <div class="container-img">
        <img src={img} alt=""/>
    </div>
    <div>
        <h4 class="text-center">{title}</h4>
        <p class="text-center">{Data}</p>
    </div>
</div>

<style>
    .contenedor { /* Corregido aquí */
        width: 250px;
        margin: 0 auto;
    }
    .container-img {
        height: 100%;
        width: 100%;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>
