<section class="mt-5">
    <div class="container">
      <div class="row container contenedor-information">
        <div class="col-md-12 col-lg-7">
         <img src="GIFELECTRONICA.gif" class="balancin" alt="" />
        </div>
  
        <div class="col-md-12 col-lg-5 container-informacion">
          <h2>"Optimizamos recursos y talento humano para excelencia."</h2>
          <p class="text-muted parraf-title">
            En Prestaservis, creemos que la combinación de un equipo humano competente y recursos técnicos de primer nivel es la clave para el éxito. Nos esforzamos por mantenernos a la vanguardia de la tecnología y la innovación para garantizar la máxima satisfacción del cliente en cada proyecto que emprendemos.
          </p>
          <div class="container">
            <div class="contenedor-card">
              <div class="container-img">
                <img class="img-icon" src="inversion.png" alt="" />
              </div>
              <div class="container contenedor-texto">
                <h4>Invercion Continua y Crecimiento.
                </h4>
                <p class="p-icon">Nuestro compromiso con la excelencia se refleja en la inversión continua en maquinaria y equipos de última generación. Desde equipos de construcción hasta instrumentos de precisión, contamos con una amplia gama de recursos técnicos para abordar una variedad de proyectos con eficiencia y precisión.</p>
              </div>
            </div>
            <div class="contenedor-card">
              <div class="container-img">
                <img class="img-icon" src="time.png" alt="" />
              </div>
              <div class="container contenedor-texto">
                <h4>Gestion del tiempo, Resultados Sostenibles</h4>
                <p class="p-icon">La gerencia de Prestaservis desempeña un papel vital en la conducción de nuestra empresa hacia el éxito. Su liderazgo visionario, su enfoque en la excelencia y su compromiso con la innovación son fundamentales para nuestra capacidad para ofrecer resultados excepcionales y crear valor para todos nuestros stakeholders.</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  
  <style>
    
    .balancin{
      width: 800px !important;
      height: 800px !important;
      margin-top: -20px !important;
      margin-left: -250px !important;
    }
    button {
      background-color: #3e7edd !important;
      border: none !important;
      padding: 15px !important;
      border-radius: 15px !important;
      color: white !important;
    }
    .contenedor-texto {
      margin-left: 10px !important;
    }
    h4 {
      color: black !important;
      font-size: 1.5em !important;
    }
    .p-icon {
      font-size: 1.1em !important;
    }
    .contenedor-card {
      display: flex !important;
      margin-bottom: 10px !important;
    }
    .img-icon {
      width: 60px !important;
      height: 60px !important;
    }
    .contenedor-information {
      width: 80% !important;
      justify-content: center !important;
      margin: 0 auto !important;
    }
    h2 {
      font-size: 2rem !important;
      color: black !important;
      margin-bottom: 10px !important;
    }
    .parraf-title {
      font-size: 1rem !important;
      text-wrap: balance !important;
      font-weight: bold !important;
      border-bottom: 2px solid #4778e0 !important;
      padding-bottom: 15px !important;
    }
    section{
      background-color: #fcfcff !important;
    }
    @media (min-width: 577px) and (max-width: 768px){
      .balancin{
        height: 350px !important;
        width: 350px !important;
        margin: 0 auto !important;
        margin-left: 45px;
        align-items: center !important;
        justify-content: center !important;
        
      }
    }
    @media (max-width: 576px){
      .balancin{
        height: 200px !important;
        width: 200px !important;
        margin: 0 auto !important;
      }
     .p-icon{
      font-size: 0.8rem !important;
     }
     h4{
      font-size: 1.2rem !important;
     }
     .img-icon{
      height: 40px !important;
      width: 40px !important;
     }
    }
  </style>