<section class="mt-5">
    <div class="container">
      <div class="row container contenedor-information">
        <div class="col-md-12 col-lg-7">
         <img src="Comp1.gif" class="balancin" alt="" />
        </div>
  
        <div class="col-md-12 col-lg-5 container-informacion">
          <h2>Pumpjack</h2>
          <p class="text-muted parraf-title">
            We understand that each oil operation is unique, which is why we offer personalized services to meet the specific needs of our clients. From installation and commissioning to maintenance and technical support, our highly trained team is available to provide you with the necessary support at every stage of the process.
          </p>
          <div class="container">
            <div class="contenedor-card">
              <div class="container-img">
                <img class="img-icon" src="world.svg" alt="" />
              </div>
              <div class="container contenedor-texto">
                <h4>Discovering New Horizons
                </h4>
                <p class="p-icon">We explore new horizons in the oil industry worldwide. From exploration to production, we collaborate with local communities and partners for a sustainable energy future.</p>
              </div>
            </div>
            <div class="contenedor-card">
              <div class="container-img">
                <img class="img-icon" src="time.svg" alt="" />
              </div>
              <div class="container contenedor-texto">
                <h4>Time Efficient, Sustainable Results</h4>
                <p class="p-icon">At our company, we value time as a precious resource. We are committed to maximizing efficiency in all our operations, guaranteeing long-term sustainable results. From planning to execution, every moment is used strategically to drive success and innovation in the oil industry.</p>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="container text-center">
        <button>Get more information →</button>
      </div>
    </div>
  </section>
  
  <style>
    
    .balancin{
      width: 800px;
      height: 800px;
      margin-top: -20px;
      margin-left: -250px;
    }
    button {
      background-color: #3e7edd;
      border: none;
      padding: 15px;
      border-radius: 15px;
      color: white;
    }
    .contenedor-texto {
      margin-left: 10px;
    }
    h4 {
      color: black;
      font-size: 1.5em;
    }
    .p-icon {
      font-size: 1.1em;
    }
    .contenedor-card {
      display: flex;
      margin-bottom: 10px;
    }
    .img-icon {
      width: 60px;
      height: 60px;
    }
    .contenedor-information {
      width: 80%;
      justify-content: center;
      margin: 0 auto;
    }
    h2 {
      font-size: 2rem;
      color: black;
      margin-bottom: 10px;
    }
    .parraf-title {
      font-size: 1rem;
      text-wrap: balance;
      font-weight: bold;
      border-bottom: 2px solid #4778e0;
      padding-bottom: 15px;
    }
    section{
      background-color: #fcfcff;
    }
    @media (min-width: 577px) and (max-width: 768px){
      .balancin{
        height: 350px;
        width: 350px;
        margin: 0 auto;
        margin-left: 45px;
        align-items: center;
        justify-content: center;
        
      }
    }
    @media (max-width: 576px){
      .balancin{
        height: 200px;
        width: 200px;
        margin: 0 auto;
      }
     .p-icon{
      font-size: 0.8rem;
     }
     h4{
      font-size: 1.2rem;
     }
     .img-icon{
      height: 40px;
      width: 40px;
     }
    }
  </style>