---
const today = new Date();
---

<footer>

	&copy; {today.getFullYear()} PrestaServis RL. <br>
	 All rights reserved.
	<div class="social-links">
		<div class="logo1">
			<a href="" target="_blank">
				<span class="sr-only"></span>
				<img src="public/PRESTASERVIS-BLUE.png" alt="">
			</a>
		</div>
		<a href="" target="_blank">
			<span class="sr-only">Contacatnos Via Whatsapp</span>
			<img src="public/ws.png" alt="Escribenos por Whatsapp"  width="32px" height="32px">
		</a>
		<a href="" target="_blank">
			<span class="sr-only">Siguenos en Instagram</span>
			<img src="public/instagram.png" alt="Siguenos en Instagram"  width="32px" height="32px">
		</a>
		<a href="" target="_blank">
			<span class="sr-only">Siguenos en Twitter</span>
			<img src="public/x.png" alt="perfil X" width="32px" height="32px">
		</a>
		<a href="" target="_blank">
			<span class="sr-only">Siguenos en Instagram</span>
			<img src="public/linkedin.png" alt="perfil linkedin"  width="32px" height="32px">
		</a>
		<div class="logo2">
			<a href="" target="_blank">
				<span class="sr-only"></span>
				<img src="public/PRESTASERVISRL-RED.png" alt="">
			</a>
		</div>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.logo1{
		position: absolute;
		margin-top: 0%;
		margin-left: -80%;
		width: 150px;

	}
	.logo2{
		position: absolute;
		margin-right: -80%;
		width: 150px;
	}
	@media (max-width: 412px){
		.logo1{
			width: 60px;
			margin-left: -80%;
			
			
		}
		.logo2{
			width: 60px;
			margin-right: -80%;
		}
		
	}
</style>
