<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 container-primeracolumna">
        <p class="text-center">
          Descubra cómo nuestra pasión por la innovación y la seguridad 
          nos impulsa a alcanzar nuevas alturas en cada proyecto que emprendemos.
        </p>
        <h4>De mano de la Planificación y el control ofrecemos un servicio de Calidad</h4>
        <p class="segundoP">
          En Prestaservis, nos enorgullece ofrecer no solo un equipo humano altamente experimentado y capacitado,
           sino también áreas operacionales equipadas con maquinaria, dispositivos y equipos de primera calidad. 
           Estas instalaciones de vanguardia nos permiten brindar servicios de la más alta calidad y cumplir con las expectativas de nuestros clientes 
           de manera consistente.
        </p>
        <div class="row contenedor-items">
          <div class="col-md-4 contenedor-elemento">
            <div class="contenedor-img">
              <img src="/maquina.png" class="icon-footer" alt="" />
              <p class="p-icon">Equipos y Maquinarias Operativos a disposicion de la prestacion de servicios</p>
              <h5 class="counter" id="counter0"></h5>
            </div>
          </div>
          <div class="col-md-4 contenedor-elemento">
            <div class="contenedor-img">
              <img src="/areaoperac.png" class="icon-footer" alt="" />
              <p class="p-icon">Areas Operacionales de Primera Calidad</p>
              <h5 class="counter" id="counter2"></h5>
            </div>
          </div>
          <div class="col-md-4 contenedor-elemento">
            <div class="contenedor-img">
              <img src="/factory-male-worker-upper-body-svgrepo-com.svg" class="icon-footer" alt="" />
              <p class="p-icon">Trabajadores Ampliamente experimentados</p>
              <h5 class="counter" id="counter3"></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" style="background-image: url('/EQUIPOS DE LA EMPRESA(2).png'); background-repeat: repeat;">
      </div>
      

    </div>
</div>
  
  <style>
    .p-icon {
      font-size: 1rem;
    }
    h5 {
      color: white;
      font-size: 2.3rem;
    }
    /* Estilos personalizados */
    section {
      padding: 50px 0; /* Ajustado para que no haya espacio adicional en los lados */
      height: 20dvh;
    }
    .contenedor-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .icon-footer {
      height: 60px;
      width: 60px;
    }
  
    .container-primeracolumna {
      background-color: #0000ff;
      margin: 0;
      padding: 0; /* Elimina el padding */
    }
    .container-fluid .row {
      display: flex;
      justify-content: center;
      margin: 0; /* Elimina el margen */
    }
    .segundoP {
      color: gainsboro;
    }
    h4 {
      text-align: center;
      color: white;
      font-weight: bolder;
      font-size: 2.5em;
    }
    p {
      margin-top: 10px;
      text-align: center;
      text-wrap: balance;
      color: white;
      font-size: 1.2rem;
    }
    .container-fluid .row .col-md-6 {
      display: flex;
      flex-direction: column;
      height: 70dvh;
      margin: 0; /* Elimina el margen */
      padding: 0; /* Elimina el padding */
    }
  
    img {
      max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
      height: 100%; /* Mantiene la proporción de la imagen */
      object-fit: cover;
    }
    @media (max-width: 780px){
      .p-icon{
        font-size: 1.5rem;
      }
      .icon-footer{
        height: 50px;
        width: 50px;
      }
      .counter{
        font-size: 1.4rem;
      }
      .container-fluid .row .col-md-6 {
        height: 100dvh;
      }
    }
    @media (max-width: 576px) {
      .icon-footer {
        height: 40px;
        width: 40px;
      }
      .p-icon {
        font-size: 0.5rem;
        text-wrap: balance;
        text-align: center;
        text-justify: inter-word;
        margin-top: 10px;
        color: gainsboro;

      }
      .contenedor-items > div {
        flex: 0 0 50%;
        max-width: 30%;
      }
      .container-fluid .row .col-md-6 {
        height: 70dvh;
      }
      .counter{
        font-size: 1.2rem;
      }
      h4{
        font-size: 1.3rem;
      
      }
      p{
        font-size: 0.8rem;
      }
    }
  </style>